This program predicts if a patient has COVID-19 or not using a Nearest Neighbor Classifier in Python. For educational purposes.

In [ ]:
# Import libraries
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Get covid-19 data
from google.colab import files
uploaded = files.upload()

Saving Madedata1.csv to Madedata1.csv

In [ ]:
# Creating dataframe for data
covid_df = pd.read_csv("Madedata1.csv")
covid_df

                 Country  Age  ... Contact_with_covid_patient  Infected
0                  China   10  ...                         No         0
1                  Italy   20  ...                  Not known         1
2                   Iran   55  ...                         No         0
3     Republic of Korean   37  ...                        Yes         1
4                 France   45  ...                        Yes         1
...                  ...  ...  ...                        ...       ...
2494             Myanmar   73  ...                         No         0
2495            Cambodia   35  ...                  Not known         1
2496             Finland   18  ...                        Yes         1
2497             Morocco   39  ...                  Not known         1
2498               Japan   55  ...                        Yes         1

[2499 rows x 12 columns]

In [ ]:
# Removing country column b/c we only need patient symptoms, age, and gender
covid_df.drop("Country", axis=1, inplace = True)
covid_df

      Age       Gender  fever  ...  Severity  Contact_with_covid_patient  Infected
0      10         Male    102  ...      Mild                          No         0
1      20         Male    103  ...  Moderate                   Not known         1
2      55  Transgender     99  ...    Severe                          No         0
3      37       Female    100  ...      Mild                         Yes         1
4      45         Male    101  ...  Moderate                         Yes         1
...   ...          ...    ...  ...       ...                         ...       ...
2494   73         Male     98  ...      Mild                          No         0
2495   35       Female    104  ...      Mild                   Not known         1
2496   18       Female     99  ...      Mild                         Yes         1
2497   39       Female    100  ...      Mild                   Not known         1
2498   55       Female    102  ...    Severe                         Yes         1

[2499 rows x 11 columns]

In [ ]:
# Encoding data
label_encoder = LabelEncoder()
covid_df.iloc[:,1] = label_encoder.fit_transform(covid_df.iloc[:,1].values)
covid_df.iloc[:,8] = label_encoder.fit_transform(covid_df.iloc[:,8].values)
covid_df.iloc[:,9] = label_encoder.fit_transform(covid_df.iloc[:,9].values)
covid_df

      Age  Gender  fever  ...  Severity  Contact_with_covid_patient  Infected
0      10       1    102  ...         0                           0         0
1      20       1    103  ...         1                           1         1
2      55       2     99  ...         2                           0         0
3      37       0    100  ...         0                           2         1
4      45       1    101  ...         1                           2         1
...   ...     ...    ...  ...       ...                         ...       ...
2494   73       1     98  ...         0                           0         0
2495   35       0    104  ...         0                           1         1
2496   18       0     99  ...         0                           2         1
2497   39       0    100  ...         0                           1         1
2498   55       0    102  ...         2                           2         1

[2499 rows x 11 columns]

In [ ]:
# Creating arrays and splitting data into train and test
X = covid_df.drop(["Infected"], axis=1).values
y = covid_df["Infected"].values                 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42, stratify = y)
X_train.shape

(1749, 10)

In [ ]:
# Creating nearest neighbor model
knn = KNeighborsClassifier()

In [ ]:
# Determine best parameters
from sklearn.model_selection import GridSearchCV
param_grid = {"n_neighbors": np.arange(1,50)}
knn_cv = GridSearchCV(knn, param_grid, cv=5)
knn_cv.fit(X_train, y_train)
n_param = knn_cv.best_params_["n_neighbors"]
print(n_param)

9

In [ ]:
# Getting predictions
y_pred = knn_cv.predict(X_test)
type(y_pred)

numpy.ndarray

In [ ]:
# Obtaining accuracy of model
accuracy = knn_cv.score(X_test, y_test)
print(accuracy)

0.936